<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>

<div th:replace="~{nav::navbar}"></div>

<div class="card" th:each="item: ${items}">
    <img src="https://placehold.co/300">
    <div>
        <a th:href="@{'/item/' + ${item.getId()}}">
            <h3 th:text="${item.getName()}"></h3>
        </a>
        <p th:text="${item.getPrice() + '원'}"></p>
    </div>
</div>
</body>
</html>